{% load widget_tweaks %}
<form action='' method="POST" hx-post='{% if url %}{{ url }}{% else %}.{% endif %}' hx-swap='outerHTML'>
    {% csrf_token %}
    
    <!-- <div class="form-group mb-3">
        <div id="service-detail"> 
        {{ form.item.label_tag }}
        {% render_field form.item class="form-control" hx-get="servicedetail" hx-trigger="change" hx-swap='innerHTML' hx-target='#service-detail' %}
        </div>
    </div> -->


 <!-- {{ form.as_p }} -->
     {{ form.item.label_tag }}{{ form.item }} 
     <!--<b>Default Rate: {{form.default_rate}}</b>
     Custom Rate: {{ form.custom_rate.value }} -->
     {% if form.custom_rate.value %} Default Rate: {{ form.default_rate.value }} <br/> <b>Custom Rate: {{ form.custom_rate.value }}</b> {% else%}<b>Rate: {{ form.default_rate.value }}</b>{% endif %}
     <input type="hidden" id="id_default_rate" name="default_rate" value="{{form.default_rate.value}}">
     <!-- {{ form.item.label_tag }}
    <select class="custom-select mb-4" name="item" hx-get="{% url 'workorders:service-detail' %}" hx-target="#service_detail">
        <option value="" selected>Service</option>
        {% for service in services %}
            <option value="{{service.pk}}">{{ service.name }}</option>
        {% endfor %}
    </select>
    <div name='service_detail'>
    </div> -->
    <br />
    {{ form.description.label_tag}}{{form.description}}
    <br />
    {{ form.billable_time.label_tag}}{{form.billable_time}}
    <br />
    <!-- Check if changing standard rate: <input type="checkbox" id="cr" name="cr" value="1">
    <br /> -->
    {{ form.custom_rate.label_tag }}{{form.custom_rate }}
    <!-- {% if form.custom_rate.value %}{{ form.custom_rate }}{% else %}{{ form.default_rate }}{% endif %}
    -->
 
    <div class='htmx-indicator'>Loading...</div>
    <button class='html-inverted-indicator' style='margin-top:10px;' type='submit'>Save</button>

</form>